/* Common styles */
 body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
   
   
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvLXqNTPjiC9h8xh-XwYLOR80IHlVf2CZdCg&s);
    background-repeat: no-repeat;
   
    background-size: cover;
    
} 
.login-container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDbtBvb65jlefQl1LkE6Wah97-ShrztzO6tQ&s);
    background-repeat: no-repeat;
    background-size: cover;
    width: 290px;
    background-color: aqua;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);

}




.login-containerone {
    background-image: url();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.login-containerone button {
    padding: 10px 20px;
    background-color: #232324;
    color: rgb(226, 223, 223);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 80%;
}
.login-containerone button:hover {
    background-color: #7c5454;
}
form div {
    margin-bottom: 4px;
    position: relative;
    display: flex;
    align-items: center;
  
}


.login-containerone .a{
    width:190px; 
    height: 5vh;
    margin: 8px; 
    
    /* border: none; */
    border-bottom: 2px solid black !important; 
    background-color: rgba(0, 0, 0, 0); 
    color: black; 
    font-size: 15px;
    border-radius: 4px;
    padding-right: 30px;
    /* padding: 10px 30px 10px 30px; */
}
.login-containerone .ab i {
    position: absolute;
    right: 12px;
    color: #292626;
}
.login-container h2 {
    /* margin-bottom: 20px; */
    color: #0f0f0f;
}

